.main_menu .menu_icon li .message_icon {
  font-size: 17px;
  position: relative;
  bottom: -3px;
}

.main_menu .menu_icon li .message_icon span {
  top: -14px;
}

.fp__dashboard_menu button b {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  background: var(--colorPrimary);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--colorWhite);
}

.fp__chat_area {
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
}

.fp__chat_body {
  padding: 30px;
  padding-bottom: 0;
  height: 510px;
  overflow: hidden;
  overflow-y: auto;
}

.fp__chat_body::-webkit-scrollbar {
  background: #fff;
  width: 5px;
}

.fp__chat_body::-webkit-scrollbar-thumb {
  background: #ddd;
}

.fp__chat {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 30px;
}

.fp__chat_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.fp__chat_text {
  margin-left: 20px;
  max-width: 84%;
}

.fp__chat_text p {
  background: #F5F9FF;
  color: var(--colorBlack);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  border: 1px solid #eeeeee73;
}

.fp__chat_text span {
  display: block;
}

.tf_chat_right {
  justify-content: end !important;
  flex-direction: row-reverse;
}

.tf_chat_right .fp__chat_text {
  margin-left: 0;
  margin-right: 20px;
}

.tf_chat_right .fp__chat_text span {
  text-align: right;
}

.fp__single_chat_bottom {
  border-top: 1px solid #5e5b5b17;
  position: relative;
  background: var(--colorWhite);
}

.fp__single_chat_bottom label {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  font-size: 13px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #eee;
  color: var(--colorPrimary);
  line-height: 31px;
  text-align: center;
  border-radius: 50%;
  transition: all linear .3s;
}

.fp__single_chat_bottom label:hover {
  background: var(--colorPrimary);
  color: var(--colorWhite);
}

.fp__single_chat_bottom input {
  width: 100%;
  border: none;
  padding: 20px 80px 20px 75px;
}

.fp__massage_btn {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: var(--colorPrimary);
  transform: translateY(-50%);
  color: var(--colorWhite);
  border-radius: 50%;
  transition: all linear .3s;
}

.fp__massage_btn:hover {
  background: var(--colorBlack);
}