@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&family=Jost:wght@200;300;400;500;600;700;800;900&family=Lobster&display=swap');

:root {
    --colorPrimary: #F86F03;
    --paraColor: #494949;
    --colorBlack: #010f1c;
    --colorWhite: #ffffff;
    --paraFont: 'Barlow', sans-serif;
    --headingFont: 'Jost', sans-serif;
    --cursiveFont: 'Lobster', cursive;
    --boxShadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: var(--paraColor);
    font-family: var(--paraFont);
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: var(--headingFont);
    color: var(--colorBlack);
}

p,
a,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: var(--paraColor);
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.common_btn {
    background: var(--colorPrimary);
    text-transform: capitalize !important;
    color: var(--colorWhite) !important;
    padding: 10px 25px !important;
    border-radius: 30px;
    font-size: 15px !important;
    font-weight: 600 !important;
    position: relative;
    border: none;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.common_btn:hover {
    background: var(--colorBlack);
}