@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&family=Jost:wght@200;300;400;500;600;700;800;900&family=Lobster&display=swap');

:root {
    --colorPrimary: #F86F03;
    --paraColor: #494949;
    --colorBlack: #010f1c;
    --colorWhite: #ffffff;
    --paraFont: 'Barlow', sans-serif;
    --headingFont: 'Jost', sans-serif;
    --cursiveFont: 'Lobster', cursive;
    --boxShadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --heightHeader: 80px
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: var(--paraColor);
    font-family: var(--paraFont);
    height: 100vh;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: var(--headingFont);
    color: var(--colorBlack);
}

p,
a,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: var(--paraColor);
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

input:not(input[type="radio"], input[type="checkbox"]),
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #eee;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 300;
}

.td-center {
    text-align: center;
    vertical-align: middle;
}

.th-left {
    text-align: left;
}

.transform-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.common_btn {
    background: var(--colorPrimary);
    text-transform: capitalize !important;
    color: var(--colorWhite) !important;
    padding: 10px 25px !important;
    border-radius: 30px;
    font-size: 15px !important;
    font-weight: 600 !important;
    position: relative;
    border: none;
    transition: all linear .3s;
}

.common_btn:hover {
    background: var(--colorBlack);
}

/* 
.comment_input {
    overflow: hidden;
    background: var(--colorWhite);
    box-shadow: var(--boxShadow);
    border-radius: 5px;
    padding: 25px;
}

.comment_input h4 {
    font-size: 24px;
    font-weight: 700;
    color: var(--colorBlack);
    text-transform: capitalize;
}

.comment_input p {
    font-size: 14px;
    font-weight: 400;
    color: var(--colorBlack);
    margin-top: 14px;
}

.comment_input label {
    display: block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    color: var(--colorBlack);
    margin-top: 20px;
} */