.fp_dashboard_body h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--colorBlack);
  text-transform: capitalize;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.fp_dashboard_body h3 .dash_add_new_address {
  border-radius: 30px;
  padding: 8px 15px;
  color: var(--colorWhite) !important;
  cursor: pointer;
  font-size: 14px;
  text-transform: capitalize;
  transition: all linear .3s;
}

.fp__review_input .comment_input {
  background: #faf6f3fa;
  box-shadow: none;
  border-radius: 5px;
  padding: 25px;
}

.fp__change_password .fp__comment_input_single {
  margin-top: 20px;
}

.common_btn {
  float: right;
  margin-top: 25px;
}